.App {
  padding: 30px 15px;
}

@media screen and (min-width: 768px) {
  .App {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "product payment"
      "footer payment";
  }
}

/*********** BASIC ELEMENTS ***********/
h1 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #697386;
  text-align: center;

}

h2 {
  margin-top: 0;
  font-size: 36px;
  font-weight: 900;
  line-height: 44px;
  color: #1A1F36;
  text-align: center;
}

@media screen and (min-width: 768px) {
  h1 {
    margin-top: 70px;
    margin-left: 16%;
    text-align: left;
  }

  h2 {
    margin-left: 16%;
    text-align: left;
  }

  a {
    margin-left: 11%;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1A1F36;
  }
}



img {
  width: 100%;
  height: auto;
}

a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #697387;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 20px 0;
  padding: 5px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: silver;
}

button:disabled, button[disabled] {
  color: #8792A2;
  background-color: #3C4257;
  cursor: not-allowed;
}

label {
  display: block;
  margin: 30px 0 10px 0;
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  color: #697386;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 9px 12px;
  border: 1px solid rgba(60, 66, 87, 0.12);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.08), 0px 1px 1px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
}

input:focus {
  outline: none;
}

select + input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

select {
  width: 100%;
  height: 40px;
  padding: 6px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #E8E8EB;
  cursor: pointer;
}

select:active {
  border-radius: 5px;
  border: 1px solid #E8E8EB;
}
